* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  height: 100vh;
  margin: 0;
  background-color: #e9f0f2;
}

a {
  text-decoration: none;
  color: #e9f0f2;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding-left: 0;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

li {
  list-style-type: none;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}/*Variables para medias*/header {
  background-color: #0B4C5F;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  width: 45px;
  height: 50.78px;
}

.menu {
  background-color: #086A87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
}

.link {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.link:hover {
  border-bottom: 2px solid #3eeaea;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: #ddeded;
  -webkit-font-smoothing: antialiased;
}

.header-text {
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
}

.button-text {
  font-size: 12px;
}

.character-title-medium {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  line-height: 5px;
}

.character-title-small {
  color: #848484;
}

.menu-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.button {
  border-color: 3px solid black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 2px 7px 2px;
  margin-right: 10px;
  width: 30%;
  color: #848484;
}

.characters-card-list {
  background-color: #ffff;
}

.character-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid grey;
}

.stars-line {
  padding-left: 10px;
}

.star {
  width: 15px;
  height: 15px;
  margin: 2px;
}

.ec-stars-wrapper {
  font-size: 0;
  display: inline-block;
  padding-left: 10px;
}

.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #ddeded;
  margin: 2px;
}

.ec-stars-wrapper:hover a {
  color: #3eeaea;
}

.ec-stars-wrapper > a:hover ~ a {
  color: #ddeded;
}

.circle {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 10px 10px 10px 15px;
}

.Daenerys-Targaryen {
  background-image: url(../images/Daenerys-Targaryen.jpg);
}

.Tyrion-Lannister {
  background-image: url(../images/Tyrion-Lannister.jpg);
}

.John-Snow {
  background-image: url(../images/Jon-Snow.jpg);
}

.Margaery-Tyrell {
  background-image: url(../images/Margaery-Tyrell.jpg);
}

.Sansa-Stark {
  background-image: url(../images/Sansa-Stark.png);
}

.Cersei-Lannister {
  background-image: url(../images/Cersei-Lannister.jpg);
}

/*# sourceMappingURL=main.css.map */
