* {
  box-sizing: border-box;
}

body,html {
  height: 100vh;
  margin: 0;
  background-color: #e9f0f2;
}


a {
  text-decoration: none;
  color: #e9f0f2;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding-left: 0;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

li {
  list-style-type: none;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}
