$color: (
  primary: #FFBF00,

  secondary: #3eeaea,
  secondary-light: #ddeded,
  secondary-midtone: #086A87,
  secondary-dark: #0B4C5F,

  light: #e9f0f2,
  midtone: #848484,
  dark: #000
);

$font-body-family: 'Roboto', sans-serif;

$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 14px;


$font-color-light: map-get($color, 'light');
$font-color-primary: map-get($color, 'primary');
$font-color-secondary: map-get($color, 'secondary');
$font-color-secondary-light: map-get($color, 'secondary-light');
$font-color-secondary-midtone: map-get($color, 'secondary-midtone');
$font-color-secondary-dark: map-get($color, 'secondary-dark');
$font-color-midtone: map-get($color, 'midtone');
$font-color-dark: map-get($color, 'dark');


$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

$line-height: 20px;

/*Variables para medias*/
$media-mobile: 320px;
$media-tablet: 768px;
$media-desktop: 1024px;
