.characters-card-list {
  background-color: #ffff;
}

.character-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.stars-line {
  padding-left: 10px;

}

.star {
  width: 15px;
  height: 15px;
  margin: 2px;
}

.ec-stars-wrapper {
  font-size: 0;
  display: inline-block;
  padding-left: 10px;
}
.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  font-size: $font-size-l;
  color: $font-color-secondary-light;
  margin: 2px;
}

.ec-stars-wrapper:hover a {
  color: $font-color-secondary;
}

.ec-stars-wrapper > a:hover ~ a {
  color: $font-color-secondary-light;
}

.circle {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 10px 10px 10px 15px;
}

.Daenerys-Targaryen {
  background-image: url(../images/Daenerys-Targaryen.jpg)
}

.Tyrion-Lannister {
  background-image: url(../images/Tyrion-Lannister.jpg)
}

.John-Snow {
  background-image: url(../images/Jon-Snow.jpg)
}

.Margaery-Tyrell {
  background-image: url(../images/Margaery-Tyrell.jpg)
}

.Sansa-Stark {
  background-image: url(../images/Sansa-Stark.png)
}

.Cersei-Lannister {
  background-image: url(../images/Cersei-Lannister.jpg)
}
